{% load staticfiles %}
 <!-- FOOTER -->
      <footer>
        <!-- Contact Us -->
        <div class="background-dark padding text-center footer-social">
          <a class="margin-right-10" target="_blank" href="https://es-la.facebook.com/Multimarcos-844604912225186/"><i class="icon-facebook_circle text-size-30"></i> <span class="text-strong text-white hide-s hide-m">FACEBOOK</span></a>
          <a class="margin-right-10" target="_blank" href="https://www.instagram.com"><i class="icon-instagram_circle text-size-30"></i> <span class="text-strong text-white hide-s hide-m">INSTAGRAM</span></a>
                                                                                 
        </div>

        <!-- Main Footer -->
        <section class="section-small-padding text-center background-dark full-width">
          <div class="line">
            <div class="margin">
              <!-- Collumn 1 -->              
              <div class="s-12 m-12 l-4 margin-m-bottom-30">
                <h3 class="text-size-16">Dirección</h3>
                <p class="text-size-14">
                   Rio Balsas. Supermanzana 3, casa 31. Fracc. José de La Mora. Ixtapaluca. Edo. de México.
                  C.P. 56560<br>
                   Ixtapaluca Edo. México<br> 
                   México
                </p>               
              </div>
              <!-- Collumn 2 -->
              <div class="s-12 m-12 l-4 margin-m-bottom-30">
                <h3 class="text-size-16">Correo Electrónico</h3>
                <p class="text-size-14">
                   multimarcos_68@hotmail.com<br>
                </p>              
              </div>
              <!-- Collumn 3 -->
              <div class="s-12 m-12 l-4 ">
                <h3 class="text-size-16">Números Telefónicos</h3>
                <p class="text-size-14">
                   Tel: (55) 26 45 96 53<br>
                   Cel: 55 31 55 34 35<br>
                   
                </p>             
              </div>
            </div>
          </div>  
        </section>
        <hr class="break margin-top-bottom-0" style="border-color: rgba(0, 0, 0, 0.80);">
        
        <!-- Bottom Footer -->
        <section class="padding background-dark full-width">
          <div class="text-center">
            <p class="text-size-12">Copyright 2017</p>
          </div>
        </section>
      </footer>