
{% load staticfiles %}
<nav class="background-transparent background-transparent-hightlight full-width sticky">
          <div class="s-12 l-2">
            <a href="/" class="logo">
              <!-- Logo version before sticky nav -->
              <img class="logo-before" src="{% static 'img/logo-dark.png' %}" alt="">
              <!-- Logo version after sticky nav -->
              <img class="logo-after" src="{% static 'img/logo-dark.png' %}" alt="">
            </a>
          </div>
          <br>
          <div class="s-12 l-10">
            <div class="top-nav right">
              <p class="nav-text"></p>
              <ul class="right chevron">
                <li><a href="/">Inicio</a></li>
                <li><a href="/marcos">Marcos</a></li>
                <li><a href="/cajas">Cajas</a></li>
                <li><a href="/restauracion">Restauración de Fotografías</a></li>
                <li><a href="/about">Acerca de nosotros</a></li>             
                <li><a href="/contact">Contacto</a></li>
              </ul>
            </div>
          </div>  
        </nav>