
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Multimarcos Infante</title>
     {%include 'snippets/css.html'%}
  </head>

  <body class="size-1140">
    <!-- aqui iba el boton dijo verde-->
    <div id="page-wrapper">
      <!-- HEADER -->
      <header role="banner" class="position-absolute margin-top-30 margin-m-top-0 margin-s-top-0">    
        <!-- Top Navigation -->
        {%include 'snippets/nav.html'%}
      </header>
      
      {%block content%}{%endblock content%}
      
     {%include 'snippets/footer.html'%}
    </div>
    {%include 'snippets/js.html'%}
    
  </body>
</html>
