{%extends "base.html" %}
{% load staticfiles %}

{%block content %}
      <!-- MAIN -->
      <main role="main">
        <!-- Content -->
        <article>
          <header class="section background-white">
            <div class="line text-center">  
            <br><br>      
              <h1 class="text-dark text-s-size-30 text-m-size-40 text-l-size-headline text-thin text-line-height-1">Contactanos</h1>
              <p class="margin-bottom-0 text-size-16 text-dark">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.<br>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
            </div>  
          </header>
          <section class="full-width background-dark">
            <div class="s-12 m-12 l-6">
              <!-- Change the background image -->  
              <div style="background-image: url({% static 'img/img-contact.jpg' %});" class="contact-image" ></div>
            </div>
            <div class="s-12 m-12 l-6 text-center">
              <div class="padding-2x">
                <i class="icon-sli-location-pin text-white text-size-30 center"></i>
                <h2 class="text-size-20 margin-bottom-0 text-white">Dirección</h2>                
                <p>Rio Balsas. Supermanzana 3, casa 31. Fracc. José de La Mora. Ixtapaluca. Edo. de México.</p>
                <p>C.P. 56560</p>
                <p>Ixtapaluca Edo. México</p>
                <p>México</p>
            
                <i class="icon-sli-envelope text-white text-size-30 center margin-top-20"></i>
                <h2 class="text-size-20 margin-bottom-0 text-white">Correo electrónico</h2>                
                <a class="text-primary-hover" href="mailto:contact@sampledomain.com">multimarcos_68@hotmail.com</a><br>
                <i class="icon-sli-earphones-alt text-white text-size-30 center margin-top-20"></i>
                <h2 class="text-size-20 margin-bottom-0 text-white">Números telefónicos</h2>                
                <p>Tel: (55) 26 45 96 53</p>
                <p>Cel: 55 31 55 34 35</p>
              </div>
            </div>
          </section>
          
          <section class="section background-white">
            <div class="s-12 m-12 l-4 center">
              <h4 class="text-size-20 margin-bottom-20 text-dark text-center">Dudas?,escribenos</h4>
              <form name="contactForm" class="customform" method="post">
                <div class="s-12">
                  <div class="margin">
                    <div class="s-12 m-12 l-6">
                      <input name="email" class="required email" placeholder="tu correo electrónico" title="Your e-mail" type="text">
                      <p class="email-error form-error">tu correo electrónico.</p>
                    </div>
                    <div class="s-12 m-12 l-6">
                      <input name="name" class="name" placeholder="tu nombre" title="Your name" type="text">
                      <p class="name-error form-error">tu nombre.</p>
                    </div>
                  </div>
                </div>
                <div class="s-12"> 
                  <input name="subject" class="subject" placeholder="tu asunto" title="Subject" type="text">
                  <p class="subject-error form-error">tu asunto</p>
                </div>
                <div class="s-12">
                  <textarea name="message" class="required message" placeholder="Ingresa tu mensaje" rows="3"></textarea>
                  <p class="message-error form-error">Ingresa tu mensaje.</p>
                </div>
                <div class="s-12"><button class="s-12 submit-form button background-primary text-white" type="submit">Submit Button</button></div>
              </form>
            </div>           
          </section> 
        </article>
      </main>
{%endblock content %}