{%extends "base.html" %}
{% load staticfiles %}

{%block content %}
{%include 'snippets/botonfijo.html'%}      
      <!-- MAIN -->
      <main role="main">
        <!-- Content -->
        <article>
          <header class="section background-white">
            <div class="line text-center"> 
            <br>       
            <br>
              <h1 class="text-dark text-s-size-30 text-m-size-40 text-l-size-headline text-thin text-line-height-1">Conservamos recuerdos</h1>
              <p class="margin-bottom-0 text-size-16 text-dark">En nuestro trabajo apreciamos a nuestros clientes y por ello brindamos servicios de enmarcado,cajitas de madera y restauración de fotografías que superen sus expectativas.<br>
              Poniendo énfasis en la calidad de los materiales utilizados, la presentación de los trabajos y ofreciendo una variedad de molduras para todo tipo de gustos.</p>
            </div>  
          </header>
          <div class="background-white full-width"> 
            <div class="s-12 m-6 l-five">
              <a class="image-with-hover-overlay image-hover-zoom" href="/" title="Portfolio Image">
                <div class="image-hover-overlay background-primary"> 
                  <div class="image-hover-overlay-content text-center padding-2x">
                    <h3 class="text-white text-size-20 margin-bottom-10">Reference Title</h3>
                    <p class="text-white text-size-14 margin-bottom-20">Cacterísticas de la imagen</p>  
                  </div> 
                </div> 
                <img class="full-img" src="{% static 'img/portfolio/thumb-13.jpeg' %}" alt=""/>
              </a>	
            </div>
            <div class="s-12 m-6 l-five">
              <a class="image-with-hover-overlay image-hover-zoom" href="/" title="Portfolio Image">
                <div class="image-hover-overlay background-primary"> 
                  <div class="image-hover-overlay-content text-center padding-2x">
                    <h3 class="text-white text-size-20 margin-bottom-10">Reference Title</h3>
                    <p class="text-white text-size-14 margin-bottom-20">Cacterísticas de la imagen</p>  
                  </div> 
                </div> 
                <img class="full-img" src="{% static 'img/portfolio/thumb-14.jpeg' %}" alt=""/>
              </a>	
            </div>
            <div class="s-12 m-6 l-five">
              <a class="image-with-hover-overlay image-hover-zoom" href="/" title="Portfolio Image">
                <div class="image-hover-overlay background-primary"> 
                  <div class="image-hover-overlay-content text-center padding-2x">
                    <h3 class="text-white text-size-20 margin-bottom-10">Reference Title</h3>
                    <p class="text-white text-size-14 margin-bottom-20">Cacterísticas de la imagen</p>                  
                  </div> 
                </div> 
                <img class="full-img" src="{% static 'img/portfolio/thumb-15.jpeg' %}" alt=""/>
              </a>	
            </div>
            <div class="s-12 m-6 l-five">
              <a class="image-with-hover-overlay image-hover-zoom" href="/" title="Portfolio Image">
                <div class="image-hover-overlay background-primary"> 
                  <div class="image-hover-overlay-content text-center padding-2x">
                    <h3 class="text-white text-size-20 margin-bottom-10">Reference Title</h3>
                    <p class="text-white text-size-14 margin-bottom-20">Cacterísticas de la imagen</p>  
                  </div> 
                </div> 
                <img class="full-img" src="{% static 'img/portfolio/thumb-16.jpeg' %}" alt=""/>
              </a>	
            </div>
            <div class="s-12 m-6 l-five">
              <a class="image-with-hover-overlay image-hover-zoom" href="/" title="Portfolio Image">
                <div class="image-hover-overlay background-primary"> 
                  <div class="image-hover-overlay-content text-center padding-2x">
                    <h3 class="text-white text-size-20 margin-bottom-10">Reference Title</h3>
                    <p class="text-white text-size-14 margin-bottom-20">Cacterísticas de la imagen</p>  
                  </div> 
                </div> 
                <img class="full-img" src="{% static 'img/portfolio/thumb-17.jpeg' %}" alt=""/>
              </a>	
            </div>
            <div class="s-12 m-6 l-five">
              <a class="image-with-hover-overlay image-hover-zoom" href="/" title="Portfolio Image">
                <div class="image-hover-overlay background-primary"> 
                  <div class="image-hover-overlay-content text-center padding-2x">
                    <h3 class="text-white text-size-20 margin-bottom-10">Reference Title</h3>
                    <p class="text-white text-size-14 margin-bottom-20">Cacterísticas de la imagen</p>  
                  </div> 
                </div> 
                <img class="full-img" src="{% static 'img/portfolio/thumb-18.jpeg' %}" alt=""/>
              </a>	
            </div>
            <div class="s-12 m-6 l-five">
              <a class="image-with-hover-overlay image-hover-zoom" href="/" title="Portfolio Image">
                <div class="image-hover-overlay background-primary"> 
                  <div class="image-hover-overlay-content text-center padding-2x">
                    <h3 class="text-white text-size-20 margin-bottom-10">Reference Title</h3>
                    <p class="text-white text-size-14 margin-bottom-20">Cacterísticas de la imagen</p>  
                  </div> 
                </div> 
                <img class="full-img" src="{% static 'img/portfolio/thumb-19.jpeg' %}" alt=""/>
              </a>	
            </div>
            <div class="s-12 m-6 l-five">
              <a class="image-with-hover-overlay image-hover-zoom" href="/" title="Portfolio Image">
                <div class="image-hover-overlay background-primary"> 
                  <div class="image-hover-overlay-content text-center padding-2x">
                    <h3 class="text-white text-size-20 margin-bottom-10">Reference Title</h3>
                    <p class="text-white text-size-14 margin-bottom-20">Cacterísticas de la imagen</p>  
                  </div> 
                </div> 
                <img class="full-img" src="{% static 'img/portfolio/thumb-20.jpeg' %}" alt=""/>
              </a>	
            </div>
            <div class="s-12 m-6 l-five">
              <a class="image-with-hover-overlay image-hover-zoom" href="/" title="Portfolio Image">
                <div class="image-hover-overlay background-primary"> 
                  <div class="image-hover-overlay-content text-center padding-2x">
                    <h3 class="text-white text-size-20 margin-bottom-10">Reference Title</h3>
                    <p class="text-white text-size-14 margin-bottom-20">Cacterísticas de la imagen</p>  
                  </div> 
                </div> 
                <img class="full-img" src="{% static 'img/portfolio/thumb-21.jpeg' %}" alt=""/>
              </a>	
            </div>
            <div class="s-12 m-6 l-five">
              <a class="image-with-hover-overlay image-hover-zoom" href="/" title="Portfolio Image">
                <div class="image-hover-overlay background-primary"> 
                  <div class="image-hover-overlay-content text-center padding-2x">
                    <h3 class="text-white text-size-20 margin-bottom-10">Reference Title</h3>
                    <p class="text-white text-size-14 margin-bottom-20">Cacterísticas de la imagen</p>  
                  </div> 
                </div> 
                <img class="full-img" src="{% static 'img/portfolio/thumb-22.jpeg' %}" alt=""/>
              </a>	
            </div>
            <div class="s-12 m-6 l-five">
              <a class="image-with-hover-overlay image-hover-zoom" href="/" title="Portfolio Image">
                <div class="image-hover-overlay background-primary"> 
                  <div class="image-hover-overlay-content text-center padding-2x">
                    <h3 class="text-white text-size-20 margin-bottom-10">Reference Title</h3>
                    <p class="text-white text-size-14 margin-bottom-20">Cacterísticas de la imagen</p>  
                  </div> 
                </div> 
                <img class="full-img" src="{% static 'img/portfolio/thumb-23.jpeg' %}" alt=""/>
              </a>	
            </div>
            <div class="s-12 m-6 l-five">
              <a class="image-with-hover-overlay image-hover-zoom" href="/" title="Portfolio Image">
                <div class="image-hover-overlay background-primary"> 
                  <div class="image-hover-overlay-content text-center padding-2x">
                    <h3 class="text-white text-size-20 margin-bottom-10">Reference Title</h3>
                    <p class="text-white text-size-14 margin-bottom-20">Cacterísticas de la imagen</p>  
                  </div> 
                </div> 
                <img class="full-img" src="{% static 'img/portfolio/thumb-24.jpeg' %}" alt=""/>
              </a>	
            </div>
            <div class="s-12 m-6 l-five">
              <a class="image-with-hover-overlay image-hover-zoom" href="/" title="Portfolio Image">
                <div class="image-hover-overlay background-primary"> 
                  <div class="image-hover-overlay-content text-center padding-2x">
                    <h3 class="text-white text-size-20 margin-bottom-10">Reference Title</h3>
                    <p class="text-white text-size-14 margin-bottom-20">Cacterísticas de la imagen</p>  
                  </div> 
                </div> 
                <img class="full-img" src="{% static 'img/portfolio/thumb-25.jpeg' %}" alt=""/>
              </a>	
            </div>
            <div class="s-12 m-6 l-five">
              <a class="image-with-hover-overlay image-hover-zoom" href="/" title="Portfolio Image">
                <div class="image-hover-overlay background-primary"> 
                  <div class="image-hover-overlay-content text-center padding-2x">
                    <h3 class="text-white text-size-20 margin-bottom-10">Reference Title</h3>
                    <p class="text-white text-size-14 margin-bottom-20">Cacterísticas de la imagen</p>  
                  </div> 
                </div> 
                <img class="full-img" src="{% static 'img/portfolio/thumb-26.jpeg' %}" alt=""/>
              </a>	
            </div>
            <div class="s-12 m-6 l-five">
              <a class="image-with-hover-overlay image-hover-zoom" href="/" title="Portfolio Image">
                <div class="image-hover-overlay background-primary"> 
                  <div class="image-hover-overlay-content text-center padding-2x">
                    <h3 class="text-white text-size-20 margin-bottom-10">Reference Title</h3>
                    <p class="text-white text-size-14 margin-bottom-20">Cacterísticas de la imagen</p>  
                  </div> 
                </div> 
                <img class="full-img" src="{% static 'img/portfolio/thumb-27.jpeg' %}" alt=""/>
              </a>	
            </div>
          </div>  
        </article>
      </main>

{%endblock content %}
